<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}FlapTask{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">

    {% if request.state.is_gui %}
    <link rel="stylesheet" href="/static/gui_style.css">
    {% endif %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <ul class="navbar">
            <li><a href="/">Главная</a></li>

            {% if current_user %}
                <li><a href="/tasks">Мои задачи</a></li>
                <li><a href="/create-task">Создать задачу</a></li>
                <li><a href="/dashboard">Личный кабинет ({{ current_user.name }})</a></li>
                <li><a href="/logout" onclick="return confirm('Вы уверены, что хотите выйти?');">Выйти</a></li>
            {% else %}
                <li><a href="/login">Войти</a></li>
                <li><a href="/register">Регистрация</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>