{% extends "base.html" %}

{% block title %}Задачи{% endblock %}

{% block content %}
<div class="tasks-container">
  <h1>Задачи пользователя {{ user_name }}</h1>
  {% if success %}
  <p style="color: green;">Задача успешно удалена</p>
  {% elif error %}
  <p style="color: red;">{{ error }}</p>
  {% endif %}
  {% if tasks %}
  {% for task in tasks %}
  <div class="task 
    {% if task.status == 'не выполнена' %}status-not-done
    {% elif task.status == 'в процессе' %}status-in-progress
    {% elif task.status == 'выполнена' %}status-done
    {% endif %}">
    <h2>{{ task.title }}</h2>
    <form action="/edit-task/{{ task.id }}">
      <button type="submit">Редактировать</button>
    </form>
    <form action="/tasks/{{ task.id }}" method="post">
      <button type="submit" class="del-task-but">Удалить задачу</button>
    </form>
  </div>
  {% endfor %}
  {% else %}
  <div class="no-task">
    <p>У пользователя пока нет задач</p>
    <form action="/create-task" method="get">
      <button type="submit">Создать задачу</button>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}